<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="mobile-wep-app-capable" content="yes">
    <meta name="apple-mobile-wep-app-capable" content="yes">
    <title>Picture-Gallery</title>
    <link rel="shortcut icon" href="~/Content/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="~/Content/favicon.ico" type="image/x-icon" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Scripts/vendor")
    <link rel="apple-touch-icon" href="~/Content/icon-192x192.png" />
    <link rel="manifest" href="data:application/manifest+json,%7B%0A%20%20%20%20%22theme_color%22%3A%20%22%23698CC8%22%2C%0A%20%20%20%20%22background_color%22%3A%20%22%23FFFFFF%22%2C%0A%20%20%20%20%22display%22%3A%20%22standalone%22%2C%0A%20%20%20%20%22start_url%22%3A%20%22.%2F%23%2Fhome%22%2C%0A%20%20%20%20%22scope%22%3A%20%22https%3A%2F%2Fpicture-gallery.azurewebsites.net%2F%22%2C%0A%20%20%20%20%22name%22%3A%20%22Picture-Gallery%22%2C%0A%20%20%20%20%22short_name%22%3A%20%22Picture-Gallery%22%2C%0A%20%20%20%20%22description%22%3A%20%22An%20app%20to%20display%20and%20manipulate%20several%20pictures%20within%20a%20whitespace%22%2C%0A%20%20%20%20%22icons%22%3A%20%5B%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20%22src%22%3A%20%22%2FContent%2Ficon-192x192.png%22%2C%0A%20%20%20%20%20%20%20%20%20%20%20%20%22sizes%22%3A%20%22192x192%22%2C%0A%20%20%20%20%20%20%20%20%20%20%20%20%22type%22%3A%20%22image%2Fpng%22%0A%20%20%20%20%20%20%20%20%7D%2C%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20%22src%22%3A%20%22%2FContent%2Ficon-256x256.png%22%2C%0A%20%20%20%20%20%20%20%20%20%20%20%20%22sizes%22%3A%20%22256x256%22%2C%0A%20%20%20%20%20%20%20%20%20%20%20%20%22type%22%3A%20%22image%2Fpng%22%0A%20%20%20%20%20%20%20%20%7D%2C%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20%22src%22%3A%20%22%2FContent%2Ficon-384x384.png%22%2C%0A%20%20%20%20%20%20%20%20%20%20%20%20%22sizes%22%3A%20%22384x384%22%2C%0A%20%20%20%20%20%20%20%20%20%20%20%20%22type%22%3A%20%22image%2Fpng%22%0A%20%20%20%20%20%20%20%20%7D%2C%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20%22src%22%3A%20%22%2FContent%2Ficon-512x512.png%22%2C%0A%20%20%20%20%20%20%20%20%20%20%20%20%22sizes%22%3A%20%22512x512%22%2C%0A%20%20%20%20%20%20%20%20%20%20%20%20%22type%22%3A%20%22image%2Fpng%22%0A%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%5D%0A%7D" />
</head>
<body id="body">
    <script src="signalr/hubs"></script>
    <div class="loading" style="display:none">
        <div class="loading-message">LOADING</div>
    </div>
    <div id="navigation" ng-controller="NavigationCtrl" class="fadeout navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li ng-repeat="item in list"><a ng-click="click(item.url)">{{item.title}}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="btnTriggerDisplay" style="z-index:9999;position:absolute;  width:25px; height:25px; right:0px; top:0px"></div>
    <script type="text/javascript">$("#btnTriggerDisplay").click(function() { if ($('#navigation').hasClass('fadeout')) $('#navigation').removeClass('fadeout').addClass('fadein'); else  $('#navigation').removeClass('fadein').addClass('fadeout'); });</script>
    <div class="body-content" ng-view>

    </div>
    @MvcHtmlString.Create(PictureGallery.AngularConfig.GetConfig())
    @Scripts.Render("~/Scripts/app")
</body>
</html>